    
            .navbar-inverse
            {
                 background-color:#4d4dff;
                 border-color: #4d4dff;
            }
            .navbar-inverse .navbar-brand
            {
                 color: white;
            }
            .navbar-inverse .navbar-brand:hover
            {
                 color:midnightblue;
            }
            .navbar-inverse .navbar-nav>li>a 
            {
             color: white;
            }
            .navbar-inverse .navbar-nav>li>a:hover
            {
             color:midnightblue;
            }
           .navbar-inverse .navbar-toggle 
            {
            border-color: #4d4dff;
            }
            .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
            {
               background-color:#4d4dff;  
            }
            .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form 
            {
                border-color:#4d4dff;
            }
            body
{
    background-color: #F8F9F9;
}
.form
{
    background-image: linear-gradient(#4d4dff,#4d4dff);
    box-shadow: 2px 2px 2px gray;
    height:130%;
    width:100%;
    /* border-radius: 17px; */
}
.form2
{
    background-image: linear-gradient(#4d4dff,#4d4dff);
    box-shadow: 2px 2px 2px gray;
    height:80%;
    width:100%;
    /* border-radius: 17px; */
}
.form3
{
    background-image: linear-gradient(#4d4dff,#4d4dff);
    box-shadow: 2px 2px 2px gray;
    height:90%;
    width:100%;
    /* border-radius: 17px; */
}
.form4
{
    background-image: linear-gradient(#4d4dff,#4d4dff);
    box-shadow: 2px 2px 2px gray;
    height:90%;
    width:100%;
    /* border-radius: 17px; */
}
a{
     color:white;
}
h1
{

}
label{
    color:white;
}